@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

.stat-value {
	@apply text-2xl;
}

.stat-title {
	@apply text-xs;
}

body {
	min-height: 100vh;
	margin: 0;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
}
